.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: lavender;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: rgb(137, 45, 45);
}

p {
  font-size: 2rem;
  font-weight: 600;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 25%;
  font-size: 50px;
  font-weight: 700;
  color: black;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
